@media screen and (min-width: 992px){
	.interior-sub{
		min-height: 250px;
		max-height: 250px;
	}
}

body, .main-body, .interior-container{
	background-color: #202021;
}

.pic-body img{
	width: 100%;
}

.image-container img{
	width: 100%;
	min-height: 502px;
	max-height: 502px;
	max-width: 421px;
}

.image-container{
	padding: 0px 4px;
}

.interior-container{
	padding: 2px 1px;
}

.interior-sub{
	background-color: white;
	padding: 2px;
}

.pic-body{
	padding: 0;
}

.main-body{
	padding: 4px;
	max-width: 1500px;
	margin: 0 auto;
}

.sub-main-body{
	background-color: #202021;
	padding-left: 0;
	padding-right: 0;
}

.sub-main-body h2{
	text-align: center;
	margin: 10px 0 10px 0;
	color: #18829C;
}

.divider{
	margin: auto;
	margin-bottom: 10px;
	width: 50px;
	height: 3px;
	background-color: #E88E3B;
}

.sub-main-body p{
	line-height: 200%;
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
}

.sub-bottom-body img{
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block
}

.main-body h4, .main-body h5{
	text-align: center;
}